@font-face {
	font-family: 'MyFontRegular';
	src: url('../../assets/fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'MyFontLight';
	src: url('../../assets/fonts/Kanit-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'MyFontSemiBold';
	src: url('../../assets/fonts/Kanit-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'MyFontXBold';
	src: url('../../assets/fonts/Kanit-ExtraBold.ttf') format('truetype');
}